<div>
  {{ if .Params.tags }}
    <h2 class="tags">
      Tags:
      {{ range $i, $e := .Params.tags }}
        {{ if $i }}, {{ end }}
        <a href="{{ "/tags/" | relLangURL }}{{ $e | urlize }}">{{ $e }}</a>
      {{ end }}
    </h2>
  {{ end }}

  {{ if .Date }}
    <div>
      Published on <time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
    </div>
  {{ end }}

  <div style="margin-top: 0.5rem;">
    {{ with .Site.GetPage "/blog" }}
      {{ with .OutputFormats.Get "rss" }}
        <a href="{{ .Permalink }}" aria-label="RSS">
          <i class="fas fa-rss fa-lg" style="color: black;"></i>
        </a>
      {{ end }}
    {{ end }}

    {{ with .Site.Params.twitterAccount }}
      <a href="https://twitter.com/{{ . }}" aria-label="Twitter" style="margin-left: 10px;">
        <i class="fab fa-twitter fa-lg" style="color: black;"></i>
      </a>
    {{ end }}
  </div>

  <div style="margin-top: 0.5rem;">
    {{ with .PrevInSection }}
      &laquo; Previous post: <a href="{{ .Permalink }}">{{ .Title | markdownify | truncate 40 }}</a>
    {{ end }}
    {{ with .NextInSection }}
      &mdash; Next post: <a href="{{ .Permalink }}">{{ .Title | markdownify | truncate 40 }}</a> &raquo;
    {{ end }}
  </div>
</div>
